<!-- <div class=""> -->

<div class="container-fluid" style="margin-bottom: -25px;">
  <div class="row">
    <nav class="col-sm-3 col-md-2 sidebar" style="padding-bottom: 35px;">
      <div class="sidebar-content">
        <div class="sidebar-search">
          <div class="input-group">
            <input type="text" id="shop-search" class="form-control search-menu" placeholder="Search by Tags...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="input-group">
          <input type="number" id="min_price" class="form-control search-menu" placeholder="Min Price">
          <input type="number" id="max_price" class="form-control search-menu" placeholder="Max Price">
        </div>
        <select class="custom-select" id="brand_cat">
          <option value="%" selected>Choose...</option>
        </select>
        <select class="custom-select" id="condition_cat">
          <option value="%" selected>Choose...</option>
          <option value="New">New</option>
          <option value="Used">Used</option>
          <option value="Old">Old</option>
        </select>
        <select class="custom-select" id="num_pag_select">
          <option selected value="10">Showing 10 Products</option>
          <option value="20">Showing 20 Products</option>
          <option value="30">Showing 30 Products</option>
        </select>
      </div>
    </nav>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="background-color: antiquewhite;">
      <h1 class="page-header text-center">Shop List</h1>
      <div class="d-flex flex-wrap justify-content-around" id="result-content">
      </div>
      <nav class="text-center"aria-label="...">
        <ul class="pagination" style="display: inline-flex;">
        </ul>
      </nav>
    </div>
  </div>
  <div id="map" style="height: 400px; width:100%;"> </div>