<div>
    <section class="jumbotron text-center">
        <h1 class="jumbotron-heading">Home page</h1>
        <p class="lead text-muted">Lorem ipsum dolor sit amet consectetur adipiscing elit nisl quis semper, rutrum
            consequat donec praesent curabitur himenaeos dapibus in ac, euismod conubia cras habitant mi magna habitasse
            urna est. Curabitur sociis accumsan ullamcorper in mus eros aenean dapibus conubia, blandit quam primis
            rhoncus rutrum eget nisi cras magnis, habitasse condimentum nisl volutpat himenaeos nascetur sem magna.
            Sagittis torquent himenaeos quisque tortor fringilla morbi nisl nec, conubia dignissim vivamus parturient
            praesent dapibus.</p>
    </section>
    <section class="jumbotron text-center justify-content-around d-flex">
        <div id="cat-btn-container">
            <h1 class="jumbotron-heading">Explore our categories</h1>

        </div>

        <div style="max-width: 60%;" class="justify-content-center">
            <div id="carouselExampleCaptions" class="carousel carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators"></ol>
                <div id="carousel-item-container" class="carousel-inner">
            </div>
        </div>
    </section>

    <section class="jumbotron text-center">
        <div id="owlcarousel" class="owl-carousel owl-theme">
        </div>
    </section>

</div>